__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/

.venv/
venv/

.env

db.sqlite3

staticfiles/
media/

.vscode/
.idea/
.DS_Store
.neon

# Flutter
web/.dart_tool/
web/.packages
web/.flutter-plugins
web/.flutter-plugins-dependencies
